* {
    color: aliceblue;
}

h1 {
    text-align: center;
}



body {
    height: 100%;
    width: 100%;
    background: linear-gradient(
  40deg,
  rgb(0, 0, 0) 30%,
  rgb(0, 0, 0) 30%,
  rgb(252, 252, 252) 100%
);
}

.logo {

}

.social-media {
    text-align: right;
    margin: 15px;
    position: relative;
    display: flex;
    justify-content: right;
}

ul {
    list-style: none;
}