* {
    color: aliceblue;
}


body {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(44, 44, 44));
}

.header {
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(56, 56, 56), rgb(252, 252, 252))
}

header .logo {
   float: left;
   align-content: space-around;
   margin-left: 15px;
   font-family: 'Oswald', sans-serif;
}

header .social-media {
    display: flex;
    justify-content: right;
    margin-right: 15px;
}

ul {
    list-style: none;
}

.insta {
    margin-top: 22px;
}

/*aside

aside h2 {
    margin-top: 50px;
    margin-left: 15px;
    
}

aside p {
    margin-left: 15px;
    
    
}   

.aboutme {
    border: 20px;
    width: 15%;
    margin-left: 20px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(56, 56, 56), rgb(252, 252, 252) 150%)
      
};

*/

.apresentação {
   margin-top: 200px;
   margin-left: 200px;
}

.apresentação p {
    font-size: 18px;
}